<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete item</title>
  </head>
  <body>
    <header>
      <!-- Heading  area-->
        <h1>delete item</h1>
      <!-- heading area ends-->
    </header>
    <!-- category section/ nav bar -->
    <!-- content area -->
    <section id="content_panel">
      <!-- form for adding item -->
      <form method="post">
        Are you sure you want to delete {{item.name}}?<br><br>
        <!-- submit -->
        <input type="submit" name="delete">
      </form>
    </section>
  </body>
</html>
