<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- adding our css file -->
    <link href="{{url_for('static',filename='mystyle.css')}}" rel="stylesheet">
    <title>delete item</title>
  </head>
  <body>

    <header>
      <div class="heading">
        <h1>delete item</h1>
      </div>
    </header>

    <!-- content area -->
    <section class="content_panel">
      <!-- form for adding item -->
      <form method="post">
        Are you sure you want to delete {{item.name}}?<br><br>
        <!-- submit -->
        <input type="submit" value="delete">
      </form>
    </section>

  </body>
</html>
