<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- adding our css file -->
    <link href="{{url_for('static',filename='mystyle.css')}}" rel="stylesheet">
    <title>edit item</title>
  </head>
  <body>

    <header>
      <div class="heading">
        <h1>edit item</h1>
      </div>
    </header>

    <!-- content area -->
    <section class="content_panel">
      <!-- form for adding item -->
      <form method="post">

        <!-- name entry -->
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" required
        placeholder="{{item.name}}">
        <br><br>

        <!-- description entry -->
        <label for="description">description: </label>
        <textarea id="description" name="description"
        required>{{item.description}}</textarea>
        <br><br>

        <!-- category -->
        <label for="category">category</label>
        <select name="category" id="category" required>
          {% for category in categories %}
            <option value="{{category}}">{{category}}</option>
          {% endfor %}
        </select>
        <br><br>

        <!-- csrf token -->
        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">

        <!-- submit -->
        <input type="submit" value="edit">
      </form>
    </section>

  </body>
</html>
