<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit item</title>
  </head>
  <body>
    <header>
      <!-- Heading  area-->
        <h1>edit item</h1>
      <!-- heading area ends-->
    </header>
    <!-- category section/ nav bar -->
    <!-- content area -->
    <section id="content_panel">
      <!-- form for adding item -->
      <form method="post">

        <!-- name entry -->
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" required
        placeholder="{{item.name}}">
        <br><br>

        <!-- description entry -->
        <label for="description">description: </label>
        <textarea id="description" name="description"
        required>{{item.description}}</textarea>
        <br><br>

        <!-- category -->
        <label for="category">category</label>
        <select name="category" id="category" required>
          {% for category in categories %}
            <option value="{{category}}">{{category}}</option>
          {% endfor %}
        </select>
        <br><br>

        <!-- submit -->
        <input type="submit" name="edit">
      </form>
    </section>
  </body>
</html>
