<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    <!-- setting title of the page -->
    <!-- init state variable -->
    <script>
      var STATE = '{{STATE}}'
      var CSRF = '{{ csrf_token() }}'
    </script>
    <!-- adding our own javascript -->
    <script src="{{url_for('static',filename='catalog.js')}}"></script>
    <!-- adding our css file -->
    <link href="{{url_for('static',filename='mystyle.css')}}" rel="stylesheet">
    <title>Catalog</title>
  </head>
  <body>

    <header>
      <!-- Heading  area-->
      <div class="heading">
        <h1>Catalog</h1>
      </div>
      <!-- heading area ends-->
      <!-- login/logout area-->
      <div class='login_area'>
          <div id="signinButton">
            <span class="g-signin"
              data-scope="openid email"
              data-clientid="534877455642-qqt7buqso4e7858h0udl7efppj3haahe.apps.googleusercontent.com"
              data-redirecturi="postmessage"
              data-accesstype="offline"
              data-cookiepolicy="single_host_origin"
              data-callback="signInCallback"
              data-approvalprompt="force">
            </span>
          </div>
      </div>
      <!-- login/logout area ends-->
    </header>

    <!-- category section/ nav bar -->
    <nav>
      <ul id="nav_list">
        <li id="toggle_link">
          <button onclick="hide_show_menu()">hide</button>
        </li>
        <li class="nav_links">
          <a href='/'>HomePage</a>
        </li>
        {% for category in categories %}
        <li class="nav_links">
          <a href='{{ url_for('show_items',
          category=category)}}'> {{category}}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>

    <!-- section for toggle link -->
    <section>
      <button id="toggle" onclick="hide_show_menu()">Category</button>
    </section>

    <!-- section for flash msg -->
    <section class = 'flash'>
		     {% with messages = get_flashed_messages() %}
          {% if messages %}

            <ul>
              {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
              {% endfor %}
            </ul>
            {% endif %}
          {% endwith %}

    </section>

    <!-- content area -->
    <section class="content_panel">
      {% if not items %}
      No items
      {% else %}
      <ul>
        {% for item in items %}
        <li class="content-list-item">
          <a href="{{url_for('show_item',
          category=item.category,
          item=item.name)}}">{{item.name}} ({{item.category}})</a>
        </li>
        {% endfor %}
        {% endif %}
      </ul>
    </section>

  </body>
</html>
